<a href="https://colab.research.google.com/github/nessy254/Customer_churn/blob/main/Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('craigslist_vehicles.csv',
                 delimiter=",",
                 engine="python",
                 error_bad_lines=False,
                 encoding='utf-8')

<ipython-input-40-1d204c8eb456>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df = pd.read_csv('craigslist_vehicles.csv',
Skipping line 40983: unexpected end of data

In [ ]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40981 entries, 0 to 40980
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    40981 non-null  int64
 1   id            40981 non-null  int64
 2   url           40981 non-null  object
 3   region        40981 non-null  object
 4   region_url    40981 non-null  object
 5   price         40981 non-null  int64
 6   year          40881 non-null  float64
 7   manufacturer  39351 non-null  object
 8   model         40412 non-null  object
 9   condition     22291 non-null  object
 10  cylinders     23601 non-null  object
 11  fuel          40829 non-null  object
 12  odometer      40600 non-null  float64
 13  title_status  40048 non-null  object
 14  transmission  40760 non-null  object
 15  VIN           27121 non-null  object
 16  drive         28902 non-null  object
 17  size          10228 non-null  object
 18  type          32399 non-null  object
 19  paint_color   27657 non-null  object
 20  image_url     40970 non-null  object
 21  description   40970 non-null  object
 22  county        0 non-null      float64
 23  state         40981 non-null  object
 24  lat           40530 non-null  float64
 25  long          40530 non-null  float64
 26  posting_date  40970 non-null  object
 27  removal_date  40970 non-null  object
dtypes: float64(5), int64(3), object(20)
memory usage: 8.8+ MB

In [ ]:
df.isna().sum()

Unnamed: 0          0
id                  0
url                 0
region              0
region_url          0
price               0
year              100
manufacturer     1630
model             569
condition       18690
cylinders       17380
fuel              152
odometer          381
title_status      933
transmission      221
VIN             13860
drive           12079
size            30753
type             8582
paint_color     13324
image_url          11
description        11
county          40981
state               0
lat               451
long              451
posting_date       11
removal_date       11
dtype: int64

In [ ]:
#drop the county column, all the values are nan
new_df = df.drop('county', axis = 1)

In [ ]:
new_df.head(19)

,Unnamed: 0,id,url,region,region_url,price,year,manufacturer,model,condition,...,size,type,paint_color,image_url,description,state,lat,long,posting_date,removal_date
0,362773,7307679724,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-02 00:00:00+00:00
1,362712,7311833696,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4500,2002.0,bmw,x5,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00m0m_iba78h8ty9...,"$4,500 Cash 2002 BMW X5 8 cylinder 4.4L moto...",tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-04-28 00:00:00+00:00
2,362722,7311441996,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,4900,2006.0,toyota,camry,excellent,...,NaN,sedan,silver,https://images.craigslist.org/00808_5FkOw2aGjA...,2006 TOYOTA CAMRY LE Sedan Ready To Upgrade ...,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-05-25 00:00:00+00:00
3,362771,7307680715,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-26 00:00:00+00:00
4,362710,7311834578,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,ford,expedition,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00M0M_i9CoFvVq8o...,$6500.00 2008 Ford Expedition 8 cylinder 5.4L...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-12 00:00:00+00:00
5,362772,7307680254,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,honda,odyssey,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/01616_fGayd5FvZb...,$6500.00 Cash 2008 Honda Odyssey 6 cylinder ...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-27 00:00:00+00:00
6,362711,7311834077,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,6500,2008.0,honda,odyssey,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/01616_fGayd5FvZb...,$6500.00 Cash 2008 Honda Odyssey 6 cylinder ...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-09 00:00:00+00:00
7,362723,7311441803,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,11500,2014.0,honda,cr-v,excellent,...,NaN,SUV,NaN,https://images.craigslist.org/00N0N_4rGuHY0K9w...,2014 HONDA CR-V LX SUV Ready To Upgrade Your...,tx,32.453848,-99.787900,2021-04-23 00:00:00+00:00,2021-04-30 00:00:00+00:00
8,362763,7308988448,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,11125,2014.0,toyota,camry,good,...,full-size,sedan,grey,https://images.craigslist.org/00Y0Y_lzoRI0OvfB...,2014 Grey Toyota Camry LE 4 dr with very clean...,tx,32.339483,-99.669829,2021-04-18 00:00:00+00:00,2021-05-11 00:00:00+00:00
9,362752,7309998951,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,13500,2016.0,chrysler,town & country,excellent,...,NaN,mini-van,grey,https://images.craigslist.org/00l0l_2FtEUW2H9O...,2016 CHRYSLER TOWN & COUNTRY TOURING Mini-Van ...,tx,32.453848,-99.787900,2021-04-20 00:00:00+00:00,2021-05-06 00:00:00+00:00
10,362804,7305927171,https://abilene.craigslist.org/ctd/d/abilene-2...,abilene,https://abilene.craigslist.org,11850,2016.0,toyota,corolla,like new,...,sub-compact,sedan,silver,https://images.craigslist.org/00l0l_8NHRe881TD...,Silver 2016 Toyota Corolla LE 4DR with grey cl...,tx,32.432000,-99.772400,2021-04-12 00:00:00+00:00,2021-04-14 00:00:00+00:00
11,362775,7307678518,https://abilene.craigslist.org/ctd/d/abilene-b...,abilene,https://abilene.craigslist.org,4000,2004.0,buick,lesabre,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00Q0Q_d0Z2UUPGyg...,$4000.00 2004 Buick Lesabre V6 3800 engine...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-04-18 00:00:00+00:00
12,362714,7311832851,https://abilene.craigslist.org/ctd/d/abilene-b...,abilene,https://abilene.craigslist.org,4000,2004.0,buick,lesabre,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00Q0Q_d0Z2UUPGyg...,$4000.00 2004 Buick Lesabre V6 3800 engine...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-07 00:00:00+00:00
13,362838,7303347398,https://abilene.craigslist.org/ctd/d/abilene-p...,abilene,https://abilene.craigslist.org,0,2018.0,NaN,peterbilt 579,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/01010_ksjVGjuoel...,"◄ PRICES STARTING AT $57,500 ($57,500 and up, ...",tx,32.444650,-99.725647,2021-04-07 00:00:00+00:00,2021-04-19 00:00:00+00:00
14,362774,7307679085,https://abilene.craigslist.org/ctd/d/abilene-s...,abilene,https://abilene.craigslist.org,3500,2006.0,saturn,ion,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00t0t_cEYhjO6X2J...,$3500.00 CASH 2006 Saturn ION 4 cylinder ...,tx,32.401556,-99.884713,2021-04-16 00:00:00+00:00,2021-05-14 00:00:00+00:00
15,362713,7311833290,https://abilene.craigslist.org/ctd/d/abilene-s...,abilene,https://abilene.craigslist.org,3500,2006.0,saturn,ion,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00t0t_cEYhjO6X2J...,$3500.00 CASH 2006 Saturn ION 4 cylinder ...,tx,32.401556,-99.884713,2021-04-24 00:00:00+00:00,2021-05-16 00:00:00+00:00
16,362867,7301838920,https://abilene.craigslist.org/ctd/d/belton-th...,abilene,https://abilene.craigslist.org,1234567,1955.0,chevrolet,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00X0X_1HYYivCJqB...,THE 38TH ANNUAL NATIONALLY ADVERTISED BELTON S...,tx,31.052169,-97.498512,2021-04-04 00:00:00+00:00,2021-05-10 00:00:00+00:00
17,362837,7303378226,https://abilene.craigslist.org/ctd/d/belton-th...,abilene,https://abilene.craigslist.org,1234567,1955.0,chevrolet,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00X0X_1HYYivCJqB...,THE 38TH ANNUAL NATIONALLY ADVERTISED BELTON S...,tx,31.052169,-97.498512,2021-04-07 00:00:00+00:00,2021-04-08 00:00:00+00:00
18,362822,7304059291,https://abilene.craigslist.org/ctd/d/belton-th...,abilene,https://abilene.craigslist.org,1234567,1955.0,chevrolet,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00X0X_1HYYivCJqB...,THE 38TH ANNUAL NATIONALLY ADVERTISED BELTON S...,tx,31.052169,-97.498512,2021-04-09 00:00:00+00:00,2021-04-29 00:00:00+00:00